<!DOCTYPE html>
<html>
    <head>
        <title>home</title>
        <link href="CSS/styles.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
        </form>
        <div class="main-content">
            <div class="options"></div>
            <div class="grid"></div>
        </div>
        <script src="/JS/app.js"></script>
    </body>
</html>