<!DOCTYPE html>
<html>
    <head>
        <title>home</title>
        <link href="CSS/styles.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
        </form>
        <div class="main-content">
           <h1>{{title}}</h1> 
            {{!-- <h3 class="sauces">Sauces</h3> 
            <h3 class="syrup">Syrup</h3>
            <h3 class="coffee_beans">Coffee Beans</h3>
            <h3 class="ground_coffee">Ground Coffee</h3>
            <h3 class="tea">Tea</h3>
            <h3 class="cold_brew">Cold Brew Tea</h3>
            <h3 class="milk">Milk</h3>
            <h3 class="fruit">Fruit</h3> --}}
        <script src="/JS/app.js"></script>
    </body>
</html>