<link href="CSS/log.css" type="text/css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
<div class="container">
  <div class="logo"></div>
  <form action="/login" method="POST">
    <div class="in">
      <input type="name" id="email" name="email"  placeholder="Username" required>
    </div>
    <div class="in">
      <input type="password" id="password"placeholder="password" name="password" required>
    </div>
    <button class="ups" type="submit">Login</button>
  </form>
</div>