<!DOCTYPE html>
<html>
    <head>
        <title>manager</title>
        <link href="CSS/manager.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <form class="logout_form" action="/logout?_method=DELETE" method="POST">
            <button class = "logout"type="submit">Log Out</button>
        </form>
            <div class="main-content">
                <div class="options"></div>
                <div class="grid"></div>
            </div>

            <button class="all_form">Update All</button>
            <h1>Create New</h1>
            <form id="add">
                <input id="desc"placeholder="desc">
                <input id="nam"placeholder="name">
                <input id="quan"type="number"placeholder="quanity">
                <input id="min"type="number"placeholder="min">
                <input id="max"type="number"placeholder="max">
                <button>Create</button>
            </form>
        <script src="/JS/manager.js"></script>
    </body>
</html>