

body{
    background-color:  rgba(223, 223, 223, 0.849)!important;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.main-content{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80vw;
    margin: 0 auto;
    margin-top: 200px;
    background-color: rgba(245, 245, 245) ;
    font-family: 'Roboto', sans-serif;
}
.item{
    cursor: pointer;
    min-width: 120px;
    color: #4B382A;
    background-color:rgb(254, 197, 82);
    padding-right: 10;
    padding-left: 10;
}
.options{
    background-color:rgb(254, 197, 82);
    align-content: center;
    -webkit-box-shadow: 1px 12px 14px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 12px 14px -12px rgba(0,0,0,0.75);
    box-shadow: 1px 12px 14px -12px rgba(0,0,0,0.75);
    z-index: 20;
}
h3{
    text-align: center;
    
}
.options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.info{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .1s;
    justify-content: center;
    background-color: rgba(245, 245, 245) ;
    width: 100%;
}
.item_container{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
    width: 100%;
    background-color: rgba(245, 245, 245) ;
    padding-top: 20px;
}
.grid{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(245, 245, 245) ;
}
.active{
    background-color: #4B382A;
    color:rgb(254, 197, 82);
}
input{
    background-color: rgb(254, 197, 82) ;
    margin-left: 10px;
    margin-top: 15px;;
}
.update{
    justify-content: center;
    align-content: center;
}
p{
    display: inline-block;
    min-width: 100px;
    margin-right: 10px;
    text-align: center;
}


.logout{
    position: fixed;
    right: 0;
    background-color: transparent;
    border:#4B382A solid 1px;
    color: #4B382A;
    height: 50px;
    width: 100px;
    font-size: 20px;
    margin: 10px;
}
.users{
    position: fixed;
    right: 110px;
    background-color: transparent;
    border:#4B382A solid 1px;
    color: #4B382A;
    height: 50px;
    width: 100px;
    font-size: 20px;
    margin: 10px;
}
.closed {
    position: relative;
    width: 12px;
    height: 12px;
    opacity: 0.3;
  }
  .closed:hover {
    opacity: 1;
  }
  .closed:before, .closed:after {
    position: absolute;
    left: 0px;
    content: ' ';
    height: 18px;
    width: 2px;
    background-color: #333;
  }
  .closed:before {
    transform: rotate(45deg);
  }
  .closed:after {
    transform: rotate(-45deg);
  }
  .delete_form p{
    font-size: 40px;
    text-align: center;
}
.delete_form button{
    height: 80px;
    width: 160px;
    margin: 40px;
}
.delete_form{
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
}
.update > button{
    background-color: transparent;
    border:#4B382A solid 1px;
    color: #4B382A;
    height: 25px;
    width: 55px;
    font-size: 13px;
    text-align: center;
}
button:hover{
    cursor: pointer;
    background-color: #4B382A;
    color:rgb(254, 197, 82);
}
.all_form{
    background-color: transparent;
    border:#4B382A solid 1px;
    color: #4B382A;
    width: 200px;
    font-size: 30px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
}
.two,.three,.four{
    min-width: 10px;
    text-align: center;
    border: none;
    margin-right: 5px;
}
.delete:hover{
    cursor: pointer;
}
.cre_contain{
    color: #4B382A;
    width: 80vw;
    margin: 0 auto;
    background-color: rgba(245, 245, 245);
    margin-top: 20px;
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    
}
.cre_contain>h1{
    text-align: center;
}
#add{
    padding: 20px;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: row;
}
#add>input{
    width: 100px;
}
.item>h3{
    min-width: 100px;
}
.hide{
    display: none;
}


/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Smaller Screens */
@media only screen 
and (max-width : 768px)  { 
   .nav_bar{
       display: flex;
       flex-direction: row;
       justify-content: flex-end;
       flex-wrap: nowrap;
       background-color:#BA6C1D;
       height: 70px;
       width: 100vw;
   }
   .logout{
    position: relative;
    background-color: white;
    border:#4B382A solid 1px;
    color: #4B382A;
    height: 50px;
    width: 100px;
    font-size: 20px;
    margin: 10;
   }
   .users{
    position: relative;
    background-color: white;
    border:#4B382A solid 1px;
    color: #4B382A;
    height: 50px;
    width: 100px;
    font-size: 20px;
    margin: 10;
    right: 0;
   }
   .new{
    position: relative;
    background-color: white;
    border:#4B382A solid 1px;
    color: #4B382A;
    height: 50px;
    width: 100px;
    font-size: 20px;
    margin: 10px;
   }
   .select_menu{
       height: 200px;
       background-color: rgb(254, 197, 82);
       display: flex;
       flex-direction: row;
       width: 100vw;;
   }
   .select_type_form, .select_choice_form{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
   }
   .select_type, .select_choice{
    border:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none; 
    background-color: transparent;
    color: #4B382A ;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    width: fit-content;
   }
   .select_item{
       height: 100%;
       width: 100%;
   }
   option{
    background-color: rgb(254, 197, 82);
   }

   .grid_mobile{
       height: fit-content;
   }
   .mobile_info{
       display: flex;
       flex-wrap: nowrap;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       margin-top: 50px;
   }
   .mobile_info p{
       margin: 10px;
       font-weight: bold;
       font-size: 30px;
       display: inline-block;
       width: 200px;
   }
   .mobile_update{
       display: grid;
       grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
       grid-template-rows: 1fr 1fr;
       grid-template-areas: 
       "quan quan quanL none button"
       "minL min maxL max . ";
   }
   .mobile_update .twoM {
       grid-area: quanL;
       font-weight: bold;
       text-align: center;
   }
   .mobile_update .two_lab{
    grid-area: quan;
    text-align: end;
    font-size: 30px;
}
   .mobile_update .threeM{
    font-weight: bold;
       text-align: center;
    grid-area: min;
   }
   .mobile_update .three_lab{
    text-align: end;
    grid-area: minL;
    font-size: 25px;
   }
   .mobile_update .fourM {
    grid-area: max;
    font-weight: bold;
       text-align: center;
   }
   .mobile_update .four_lab{
    grid-area: maxL;
    text-align: end;
    font-size: 25px;
   }
   .mob_in{
       width: 50px;
   }
   .ups{
       grid-area: button;
   }
   input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


    .cre_contain{
        background-color: white;
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
        margin: 0;
        justify-content: start;
    }
    .cre_contain h1{
        margin-top: 100px;
    }
    #add{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #desc,#nam,#quan,#min,#max{
        width: 80% !important;
        height: 40px;
        margin: 20px;
    }
    #add button{
            position: relative;
            background-color: white;
            border:#4B382A solid 1px;
            color: #4B382A;
            height: 50px;
            width: 100px;
            font-size: 20px;
            margin: 10px;
    }
    .close {
        position: absolute;
        right: 32px;
        top: 32px;
        width: 32px;
        height: 32px;
        opacity: 0.3;
      }
      .close:hover {
        opacity: 1;
      }
      .close:before, .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
      }
      .close:before {
        transform: rotate(45deg);
      }
      .close:after {
        transform: rotate(-45deg);
      }
}